*{
    margin: 0;
    font-family: 'Work Sans';
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
    font-size: 30px;
    color: chocolate;
}

span{
    color: chocolate;
}
/* nav section end */

.header{
background: url(../images/banner/banner2.png);
height: 809px;
background-repeat: no-repeat;
background-size: cover;


}
.top-right{
 
    margin-left: 850px; 
    margin-right: 250px;
    padding: 180px;
  

 text-align: right;
 justify-content: center;
}
.header-heading{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
   
}
.header-paragraph{
    font-weight: 300;
font-size: 12px;
color: #444343;
margin-top: 15px;


}
.header-btn{
    background-color: coral;
    color: aliceblue;
    border: 0;
    border-radius: 5px;
    padding: 25px 40px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;

}
/* header section end */

main{
    display: flex;
    text-align: left;
   
}
.main-left{
    margin: 130px ;
  
}
.main-right{
margin: 400px 500px 350px 30px;
}
.checklist{
    margin-top: 10px;
   color: #444343;
}
i{
    color: rgb(145, 192, 145);
padding: 5px;

}
/* main section end */

.section-head-title{

margin-left: 48%;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;
    align-items: center;
    



}
.skill-container{
    margin-left: 25%;
    display: flex;
    gap: 100px;
   text-align: center;
 
    
  
}
/* my plans and skill section end here */
.linear{
 margin-left: 400px;
    height: 300px;
   
 
margin-top: 100px;
background-repeat: no-repeat;
 margin-bottom: 100px;
 width: 1140px;


    
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/watch.png);
    border-radius: 8px;;
}
.linear-paragraph{
 color: aliceblue;
 font-size: 20px;
 font-weight: 1000;
 margin-bottom: 25px;
 width: 30%;
}
.linear-item{
    padding: 80px;
    text-align: left;
    
}
.linear-btn{
    background-color: white;
    color: rgb(224, 88, 35);
    border: 0;
    border-radius: 5px;
    padding: 25px 40px;
   
    font-weight: 500;
    font-size: 20px;
 
}
/* linear section end  */
footer{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: rgb(17, 2, 17);
    color: aliceblue;
    text-align: left;
}
.footer-left{
    margin-left: 150px;
    margin-top: 90px;
    width: 30%;
   
}
.footer-heading{
    margin-bottom: 15px;
}
.footer-paragraph{
    margin-bottom: 20px;
}
footer ul{
    display: flex;
}
footer ul li{
    list-style: none;
 padding: 15px 15px 15px 0;
   
 
}
.footer-right{
   
margin-left: 600px;
margin-top: 90px;

}
.footer-right-heading{
    margin-bottom: 15px;
}

input[type="text"], textarea {
margin-bottom: 10px;

background-color: rgb(17, 2, 17);
width: 200px;
height: 50px;
border-style: solid ;
      border-width: 1px;
padding-left: 10px;
border-radius: 5px;
color: white;
    }
    ::placeholder { 
        color: white;
        opacity: 1; 
      }
