*{
    margin: 0;
    font-family: 'Work Sans';
    padding: 0;
}
nav {
    justify-content: space-around;


}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
   align-items: center;
   margin-left: 1200px;
   margin-top: 0;


}

nav li {
    list-style: none;
    padding: 10px;
    margin-top: 0px;
  font-size: 30px;
  color: chocolate;

}
span{
    color: chocolate;
}
/* nav section end */

.header{
background: url(../images/banner/banner2.png);
height: 809px;
background-repeat: no-repeat;
background-size: cover;


}
.top-right{
    margin-left: 850px; 
    margin-right: 250px;
    padding: 250px;
  

 text-align: right;
 justify-content: center;
}
.header-heading{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
   
}
.header-paragraph{
    font-weight: 300;
font-size: 12px;
color: #444343;
margin-top: 15px;


}
.header-btn{
    background-color: coral;
    color: aliceblue;
    border: 0;
    border-radius: 5px;
    padding: 25px 40px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;

}
/* header section end */

main{
    display: flex;
    text-align: left;
   
}
.main-left{
    margin: 130px ;
  
}
.main-right{
margin: 400px 500px 350px 30px;
}
.checklist{
    margin-top: 10px;
   color: #444343;
}
i{
    color: rgb(145, 192, 145);
padding: 5px;

}
/* main section end */

.section-head-title{
    
margin-left: 50%;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;



}
.skill-container{
    margin-left: 35%;
    display: flex;
    gap: 50px;
   text-align: center;
 
    
  
}
/* my plans and skill section end here */
.linear{
    width: 830px;
    height: 300px;
    
 margin-top: 100px;
 margin-left: 35%;
 margin-right: 45%;
 margin-bottom: 100px;
background-size: cover;

    
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/watch.png);
    border-radius: 8px;;
}
.linear-paragraph{
 color: aliceblue;
 font-size: 20px;
 font-weight: 1000;
 margin-bottom: 25px;
 width: 30%;
}
.linear-item{
    padding: 80px;
    text-align: left;
    
}
.linear-btn{
    background-color: white;
    color: rgb(224, 88, 35);
    border: 0;
    border-radius: 5px;
    padding: 25px 40px;
   
    font-weight: 500;
    font-size: 20px;
 
}
/* linear section end  */
footer{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: rgb(17, 2, 17);
    color: aliceblue;
    text-align: left;
}
.footer-left{
    margin-left: 150px;
    margin-top: 100px;
    width: 30%;
   
}
.footer-heading{
    margin-bottom: 15px;
}
.footer-paragraph{
    margin-bottom: 10px;
}
.footer-right{
    width: 30%;
margin-left: 600px;
margin-top: 90px;
}
.footer-right-heading{
    margin-bottom: 15px;
}
.footer-input{
    margin-bottom: 10px;
  
   background-color: rgb(17, 2, 17);
}
